* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scroll */
}

body {
    background-color: #f0f0f0;
}

#app {
  margin: 0;
  padding: 0;
}

.nav {
    display: flex;
    position: auto;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    font-size: .9rem;
    font-weight: 500;
    margin: 0;
    padding: 0; 
    z-index: 2000;
}

/*.active {
    background-color: white;
}*/

.nav a:hover {
    color: orange;
}

.nav a {
    color: white !important;
}

.navToggle {
    background-color: lightgray;
}

.hero-first {
  background-color: black;
  color: white;
  padding-top: 30px;
}

/* Ensure the container does not overflow */
.hero-second {
  overflow-y: hidden;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

/* Adjust the height of the image to fit within the container */
.hero-second img {
  width: 100%;
  height: 100%;
}

/* Optional: Ensure the Row and Col elements do not cause overflow */
.hero-second .row,
.hero-second .col {
  height: 100%;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}


.btn-hero {
    font-size: 1.1rem !important;
    font-weight: 700;
    padding: 0.5em 1em;
    color: white;
    border: 10px solid !important;
    border-radius: 5px !important;
    background-color: #d6027a !important;
    border-color: #d6027a !important;
    transition: all 0.3s !important;
    z-index: 20;
    position: relative;
    text-decoration: none;
    margin-bottom: 40px;

}

.btn-hero:hover {
    transform: translateY(-5px) !important; 
    background-color: #dbd800 !important;
    border-color: #dbd800 !important;
    border: 0;
    color: black !important;
    font-weight: 700 !important;
}

.carousel-control-next-icon {
    padding-left: 20px;
    padding-right: 20px;
}

.page-container {
  width: 100%;
  height: 100%;
}

/* Flexbox for content-wrapper to handle spacing and alignment */
.content-wrapper {
  display: flex;
  flex-direction: column;
}


.home-content {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  gap: 1rem; /* Optional: Adjust spacing between columns */
}

/* Optional: Add any specific styles for large screens */
@media (min-width: 992px) { /* lg and up */
  .home-carousel {
    order: 1; 
  }

  .home-cards {
    order: 2; 
  }

  .home-carousel img {
    width: 50vw;
    height: 50%;
  }

  .slide-wrapper {
      width: 100%;
      height: 390px;
      overflow-y: hidden;
      margin-top: 50px;
  }

  .container-cards {
    width: 190%;
    margin-top: 50px;
  }

  .card-column-container {
      display: flex;
      flex-direction: column;
      height: 375px;

  }
}

/* Optional: Add any specific styles for smaller screens */
@media (max-width: 991px) { /* xs and sm */

      .home-carousel img {
        width: 100vw;
        height: 50;
        padding-top: 40px;
      }

    .slide-wrapper {
        width: 100%;
        height: 390px;
        overflow-y: hidden;
        margin-bottom: 0;
    }

    .card-column-container {
        margin-top: 20px;
        display: flex;
        flex-direction: column;

    }
}



.card {
    border: 1px solid lightgray;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.cardBody {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.custom-card-title {
    flex: 0 0 auto;
    color: orangered !important;
}

.custom-card-description {
    flex: 0 0 auto;
    overflow: hidden;
    text-overflow: ellipsis;
}

.custom-card-price {
    font-weight: bold;
    font-size: 1.2em;
    color: #e31041 !important;
}

/* MISC */
#homepage-feature .carousel-item {
    overflow: hidden;
/*    height: 400px;*/
    background-color: transparent;
}

#homepage-feature .carousel-control-prev,
#homepage-feature .carousel-control-next {
/*    width: 10wh;*/
    color: #fff;
    text-shadow: none;
    filter: none;
    opacity: 1;
}

#homepage-feature .carousel-control-prev-icon,
#homepage-feature .carousel-control-next-icon {
    background-color: none; /* Ensure icons are visible */
}

.footer {
    background-color: black;
    padding: 2rem 0;
    border-top: 1px solid #dee2e6;
    margin-top: 100px;
}

.footer h5 {
    margin-bottom: 1rem;
    font-weight: bold;
    color: white;
}

.footer p {
    margin: 0.5rem 0;
    color: white;
}

.footer-links {
    list-style-type: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 0.5rem;
}

.footer-links a {
    text-decoration: none;
    color: #007bff;
}

.footer-links a:hover {
    text-decoration: underline;
}

.social-media a {
    margin-right: 1rem;
    text-decoration: none;
    color: #007bff;
}

.social-media a:hover {
    text-decoration: underline;
}

.footer .container {
    max-width: 1200px;
    margin: 0 auto;
}
